.select {
  margin: 0 auto;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: white;
  max-width: 80%;
  width: 50%;
  height: 36px;
  border-radius: 10px;
}

.select option:checked {
  color: #FFF;
  text-align: center;
  font-size: 16px;
}

.selectContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  /* min-height: 65vh;
  height: 100%; */
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 
.panel {
  min-height: 100vh;
  height: 100%;
} */